%div.container
  %h2.mt-4.mb-2
    =@post.title
  %h4
    Written by:
    =link_to @post.author.name, author_path(@post.author)

  %p
    =@post.body

  %p
    ="Created #{@post.created_at}"

  = link_to 'Delete Post', post_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger'
  = link_to "Edit Post", edit_post_path(@post), class: 'btn btn-default btn-primary'
  = link_to "Return to index", posts_path, class: 'btn btn-default btn-info'
